<h1>分析ページ</h1>

<p><%= link_to 'スーパーで買ったものをコンビニで買っていたら',  analysis_positive_path %></P>
<p><%= link_to 'コンビニで買ったものをスーパーで買っていたら', analysis_negative_path %></p>

<button type="button" class="btn btn-outline-primary"><%= link_to '一覧に戻る', things_path %></button>